
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

                              
.backdrop.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  transform: translate(-50%,-50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
   transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
   padding: 0;
   position: absolute;
   top: 24px;
   right: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 24px;
   height: 24px;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color: #E7E9FC;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   cursor: pointer
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404BBF;
   border: none;
      fill: #FFFFFF;
}

.modal-cross-btn {
   fill: #2e2f42;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}    

.modal-close-btn:hover .modal-cross-btn,
.modal-close-btn:focus .modal-cross-btn {
   fill: #FFFFFF;
}



.modal-title {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
   max-width: 360px;
   margin-bottom: 16px;
}

.modal-field {
margin-bottom: 8px;
}
.modal__text-wrapper-field {
   margin-bottom: 16px;
}


.modal-input {
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   width: 100%;
   height: 40px;
   background-color: transparent;
   padding-left: 38px;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
   border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
   fill:#4D5AE5;
}

.modal-label {
   font-weight: 400;
   font-size: 12px;
   letter-spacing: 0.04em;
   line-height: 1.16667;
   color: #8e8f99;
   display: block;
   margin-bottom: 4px;
   line-height: 1.17;
}

.modal-icon-wrap {
   position: relative;
}

.modal-icon {
fill: #2e2f42;
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.modal-textarea {
   border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      width: 100%;
      height: 120px;
      background-color: transparent;
      padding: 8px 16px;
      outline: transparent;
}



.modal-check-text {
   font-size: 12px;
   letter-spacing: 0.04em;
   line-height: 1.17;
   color: #8e8f99;
   align-items: center;
   a {
      line-height: 1.33333;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #4d5ae5;
   }

   span {
      width: 16px;
      height: 16px;
      border-radius: 2px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      margin-right: 8px;
      display:inline-flex;
      align-items: center;
      justify-content: center;
      fill: transparent;
   }
}

.modal__check-field {
   margin-bottom: 24px;
}

.modal-checkbox {
   width: 16px;
   height: 16px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 2px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   align-items: center;
   justify-content: center;
   fill: transparent;
   display: inline-flex;
}

.modal-checkbox-link {
   color: #4d5ae5;
}

.modal-textarea {
   font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.04em;
   color: rgba(46, 47, 66, 0.4);
   resize: none;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
   border-color: #4D5AE5;
}



.modal-check:checked + .modal-check-text span {
   background-color: #404BBF;
   border: none;
   fill: #F4F4FD;
}
.modal-check-text {
   margin-bottom: 24px;
}

.modal__button-submit {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   min-width: 169px;
   height: 56px;
   border-radius: 4px;
   background-color: #4d5ae5;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   padding: 16px 32px;
   margin: 0 auto;
   display: block;
   color: #ffffff;
   text-align: center;
   border: none;
   cursor: pointer;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit:hover,
.modal__button-submit:focus {
   background-color: #404bbf;
}


   