.hidden {
  display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.container {
   max-width: 328px;
   padding: 0 16px;
   margin: 0 auto;
}


@media screen and (min-width: 768px) {
.container {
        max-width: 768px;
    }
}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    }


        .header {
            border-bottom: 1px solid#e7e9fc;
            box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
        }


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu-list,
.adress {
    display: none;
}


.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-web {
    color: #2e2f42;
}

.header-logo {
    padding: 16px 0;
    display: block;
}


.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}


@media screen and (min-width: 768px) {
.burger-btn {
       display: none;
    }
.header-navigation {
    display: flex;
    align-items: center;
        }

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
        }

.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.header-menu-link.current {
    position: relative;
}


.header-menu-link.current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;

}
.adress {
    font-style: normal;
    display: block;
                }

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    display: inline-block;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus .contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}


.header-menu-link.current {
    color: #404bbf;
}
}


@media screen and (min-width: 1158px) {
    .header-logo {
      margin-right: 76px;
    }

    .contact-list {
        flex-direction: row;
      align-items: center;
      gap: 40px;
        }

    .contact-link {
      padding: 24px 0;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02;
    }
}

/* mobile menu */

.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-button {
padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer
}

.mobile-menu-nav {
    margin-bottom: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}


    
.mobile-menu-list {
    display: flex;
        flex-direction: column;
        gap: 40px;
}



.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-link.current {
    position: relative;
}



.mobile-menu-link:hover,
.mobile-menu-link:focus .mobile-contact-link:hover,
.mobile-contact-link:focus {
    color: #404bbf;
}


.mobile-menu-link.current {
    color: #404bbf;
}

.mobile-adress {
    font-style: normal;
    display: block;
    margin-bottom: 48px;
}

.mobile-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contact-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    display: inline-block;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contact-link.current{
    color: #4d5ae5;
}

.social-network-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    
}

.social-network-item {
    width: 40px;
    height: 40px;
}

.social-network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    width: 100%;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
    background-color: #404bbf;
}

.social-network-icon {
    fill: #f4f4fd;
}


.hero-btn {
    cursor: pointer;
}

.hero {
    background-color: #2e2f42;
    text-align: center;
    padding-top: 72px;
    max-width: 320px;
    margin: 0 auto;
    padding-bottom: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}


.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
}


@media screen and (min-width: 768px) {
    .hero {
            background-color: #2e2f42;
            padding-top: 112px;
            padding-bottom: 112px;
            max-width: 768px;
           
}

.hero-title {
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
}

.hero-btn {
    gap: 10px;
}
}

@media screen and (min-width: 1158px) {
.hero {
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        max-width: 1440;
        padding-bottom: 188px;
        max-width: 1440px;
    }





    .hero-title {
        font-weight: 700;
        line-height: 1.07;
        margin-bottom: 48px;
    }
}

.icon-advantages-list {
        display: none;
}

.advantages {
    padding-top: 96px;
    padding-bottom: 96px;
}

.advantages-list {
    
    flex-direction: column;
    gap: 72px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

}

.advantages-item {
    flex-basis: calc((100% - 216px) / 4);
}

.advantages-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
.advantages-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    
        
    }
.advantages-item {
        flex-basis: calc((100% - 72px) / 4);
        }

.advantages-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: start;
}

.advantages-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 72px;
}
}

@media screen and (min-width: 1158px) {


    .advantages {
        padding-top: 120px;
        padding-bottom: 120px;
        }
    .icon-advantages {
        visibility: visible;
    }

    .advantages-list {
            display: flex;
            gap: 24px;
            flex-direction: row;
        }
        .advantages-item {
            flex-basis: calc((100% - 72px) / 4);
        }
.advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.advantages-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.icon-advantages-list {
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}
}


.our-team {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}

.our-team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 8px;
}

.our-team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.our-team-value {
    padding-top: 32px;
    padding-bottom: 32px;
}


.social-network-list{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.our-team-soc-list {
    gap: 24px;
    text-align: center;
    justify-content: center;
}



.social-network-item {
    width: 40px;
    height: 40px;
}

.social-network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
    background-color: #404bbf;
}

.social-network-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    
.our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
}

 .our-team-item {
     width: calc((100% - 24px) / 2);
     max-width: 264px;
     max-height: 428px;

 }

}

@media screen and (min-width: 1158px) {
    .our-team {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    .our-team-item {
        width: calc((100% - 72px) / 4);
        
    }
.our-team-list {
    flex-wrap: nowrap;
        gap: 24px;
}
}

.our-portfolio {
    background-color: #FFFFFF;
    padding-top: 96px;
    padding-bottom: 96px;
}


.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}


.our-portfolio-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px 24px;
}


.our-portfolio-item {
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 288px;
}




.our-portfolio-item:hover .our-portfolio-item-text {
    transform: translateY(0);
}



.our-portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}



.border-text {
    border: 1px solid#E7E9FC;
    border-top: none;
    padding: 32px 16px;
}



.our-portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


.our-portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-portfolio-picture-wrap {
    position: relative;
    overflow: hidden;
}

.our-portfolio-item-text {
    position: absolute;
    top: 0;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms ease;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .our-portfolio-item {
    width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
.our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

 .our-portfolio-item {
    width: calc((100% - 48px) / 3);
 }
}



.footer {
    background-color: #2E2F42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
    margin: 0 auto;
}

.footer-logo-link{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 16px;
}

.logo-web-footer {
    color: #F4F4FD;
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.social-network-list-footer {
    display: flex;
    gap: 16px;
}

.social-network-item {
    width: 40px;
    height: 40px;
}

.footer-social-network-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-network-link:hover,
.footer-social-network-link:focus {
    background-color: #31d0aa;
}

.footer-social-network-icon {
    fill: #F4F4FD;
}



.footer__subscribe-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.footer__subscribe-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    background-color: transparent;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
}

.footer__subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 36px;
    height: 24px;
    opacity: 0.6;
}

.footer__subscribe-button {
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-width: 165px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__subscribe-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}

@media screen and (min-width: 768px) {
    .footer {
            padding-left: 108px;
        }
    
        .footer .container {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 72px 24px;
            justify-content: flex-start;
            align-items: normal;
        }
    
        .footer-logo-link,
        .social-media-title,
        .footer__subscribe-text {
            justify-content: flex-start;
        }
    
        .footer__subscribe-text {
            justify-content: flex-start;
        }
    
        .footer__subscribe-form {
            flex-direction: row;
        }
    
        .footer__subscribe-input {
            width: 264px;
        }
}

@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
            padding-bottom: 100px;
        padding-left: 156px;

    }
    .footer-container {
        max-width: 1440px;
    }

    .footer-description-container {
        margin-right: 120px;
    }

    .social-network-list-footer {
        margin-right: 80px;
    }
        .footer__subscribe-input {
            margin-right: 24px;
        }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-close-btn {
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
    fill: #FFFFFF;
}

.modal-cross-btn {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-cross-btn,
.modal-close-btn:focus .modal-cross-btn {
    fill: #FFFFFF;
}



.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    max-width: 360px;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal__text-wrapper-field {
    margin-bottom: 16px;
}


.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.16667;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
}

.modal-icon-wrap {
    position: relative;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
}



.modal-check-text {
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: #8e8f99;
    align-items: center;

    a {
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
    }

    span {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        margin-right: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
    }
}

.modal__check-field {
    margin-bottom: 24px;
}

.modal-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
}

.modal-checkbox-link {
    color: #4d5ae5;
}

.modal-textarea {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}



.modal-check:checked+.modal-check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-check-text {
    margin-bottom: 24px;
}

.modal__button-submit {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    color: #ffffff;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-submit:hover,
.modal__button-submit:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
    width: 408px;
    min-height: 584px;
    }
}